# deps
node_modules/
client/node_modules/

# builds
client/dist/
android/build/
android/app/build/
android/.gradle/
android/capacitor-cordova-android-plugins/

# secrets
.env
api/.env
*.env

# video fonte bruta (mantemos só os .webm processados)
*.mp4
android/_emu_*.png
*_emu_*.png

# os / editor
.DS_Store
*.log
